* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 10px;
  width: 784px;
  height: 542px;
  background: grey;
}

.navbar {
  width: 784px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: black;
}

select {
  width: 71px;
  height: 78px;
  background: #d9d9d9;
}

select:hover {
  color: black;
  background: white;
}

button {
  width: 71px;
  height: 78px;
  background: #d9d9d9;
}

button:hover {
  color: black;
  background: white;
}

select[data-icon]::before {
  content: attr(data-icon);
  font-family: 'Icons'; /* name of your icon font */
}